.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 800px) {
  .navigation {
    height: 60px;
    padding: 10px;

    .logo-container {
      width: 50px;
      padding: 0;
    }

    .nav-links-container {
      width: 70%;
      justify-content: space-around;

      .nav-link {
        min-width: 70px;
      }
    }
  }
}
